#landingContainer {
    width: 80%;
    height: 500px;
    position: relative;
    left: 10%;
    top: 100px;
    border: 3px solid gray;
    box-sizing: border-box;
    background-color: white;
    opacity: 0.92;
}

#landingTitle {
    text-align: center;
    margin-bottom: 100px;
    padding-top: 50px;
}

#landingForm1,
#landingForm2 {
    text-align: center;
}

#login {
    width: 45%;
    height: 50px;
    margin-bottom: 50px;
    font-size: 24px;
    border: 3px solid rgba(0, 0, 0, 0.4);
    box-sizing: content-box;
    font-weight: bold;
}

#register {
    width: 45%;
    height: 50px;
    font-size: 24px;
    border: 3px solid rgba(0, 0, 0, 0.4);
    box-sizing: content-box;
    font-weight: bold;
}

#author {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

/* Newly created animations by Guannan */
body {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.15);
}

#moveBox1 {
    /* lower circle */
    width: 95vw;
    height: 95vw;
    opacity: 0.4;
    border-radius: 50%;
    position: absolute;
    top: 15vw;
    animation-name: box1AnimationMotion, box1AnimationColor;
    animation-direction: alternate, alternate;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-duration: 8s, 5s;
    animation-iteration-count: infinite, infinite;
}

@keyframes box1AnimationMotion {
    0% {
        left: -40vw;
    }

    100% {
        left: 60vw;
    }
}

@keyframes box1AnimationColor {
    0% {
        background-color: yellow;
    }

    25% {
        background-color: red;
    }

    50% {
        background-color: orange;
    }

    75% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }
}

#moveBox2 {
    /* upper circle */
    width: 80vw;
    height: 80vw;
    opacity: 0.4;
    border-radius: 50%;
    position: absolute;
    top: -50vw;
    animation-name: box2AnimationMotion, box2AnimationColor;
    animation-direction: alternate-reverse, alternate;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-duration: 5s, 5s;
    animation-iteration-count: infinite;
}

@keyframes box2AnimationMotion {
    from {
        left: -40vw;
    }

    to {
        left: 60vw;
    }
}

@keyframes box2AnimationColor {
    0% {
        background-color: green;
    }

    25% {
        background-color: blue;
    }

    50% {
        background-color: purple;
    }

    75% {
        background-color: red;
    }

    100% {
        background-color: yellow;
    }
}

#moveBox3 {
    /* smallest circle */
    width: 35vw;
    height: 30vw;
    opacity: 0.4;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 10vw;
    animation-name: box3AnimationMotion, box3AnimationColor, box3AnimationSpin;
    animation-direction: alternate-reverse, alternate, normal;
    animation-timing-function: ease-in-out, ease-in-out, linear;
    animation-duration: 4s, 4s, 4s;
    animation-iteration-count: infinite;
}

@keyframes box3AnimationMotion {
    from {
        left: -15vw;
    }

    to {
        left: 80vw;
    }
}

@keyframes box3AnimationColor {
    0% {
        background-color: red;
    }

    25% {
        background-color: orange;
    }

    50% {
        background-color: green;
    }

    75% {
        background-color: blue;
    }

    100% {
        background-color: purple;
    }
}

@keyframes box3AnimationSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}